
#Retrieve_psw {

}

.method {
    width: 630px;
    height: 390px;
    border-radius: 6px;
    background-color: #fff;
    box-shadow: 0px 0px 0px 5px rgba(255, 255, 255, 0.1);
}

.modal_top {
    width: 630px;
    height: 60px;
    line-height: 60px;
    box-sizing: border-box;
    border-bottom: 1px solid #d3d3d3;
    display: flex;
    justify-content: space-between;
}

.modal_top span {
    font-size: 16px;
    font-weight: 600;
}

.modal_top span.iconfont {
    color: #d3d3d3;
    font-size: 14px;
    cursor: pointer;
    &:hover{
        color: grey;
    }
}

.modal_top span {
    margin: 0px 20px 0px 15px;
}

.method .modal_content {
    width: 320px;
    height: 288px;
    margin:auto;
}

.method .modal_content>p {
    width: 320px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    margin-top: 16px;
    margin-bottom: 30px;
    font-size:16px ;
    color: #ffa114;
    border-bottom: 1px solid #ffa114;
}

.modal_content .method_r{
    width: 320px;
    height: 88px;
    /*margin-top: 30px;*/
    margin-bottom: 20px;
   border-radius: 5px;
    box-sizing: border-box;
    border: 1px solid #cccccc;
    cursor: pointer;
}
.modal_content .method_r:hover{
     border: 1px solid #ffa114;
}

.method .modal_content .box_l{
    width: 60px;
    height: 60px;
    float: left;
    line-height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    margin:12px 18px;
    border-radius: 50%;
    text-align: center;
    border:1px solid #999;

}
.method .modal_content .box_l span{
    display: block;
    width: 40px;
    height: 50px;
    font-size:30px;
    margin-bottom: 5px;
    color: #999;
}

.method .modal_content .box_r p{
    margin-top: 14px;
    margin-bottom:6px;
    font-size: 16px;
}
.method .modal_content .box_r span{
    color: #999999;
}
.method .modal_content .box_l .icon{
    font-size: 20px;
}